/* Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */
html{
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
}
header{
    height: 12vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 2vh 0 0 30px;
    width: 50px;
}
nav{
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
}
.social{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
header a{
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
    color: #867772;
    transition: color 1s;
}
header a:hover{
    text-decoration: underline;
    color: #fff;
}
.side-nav{
    position: fixed;
    margin: 25vh 0 0 30px;
}
.side-nav article{
    position: relative;
}
.small-circle{
    width: 15px;
    height: 15px;
    border: 1px solid #867772;
    border-radius: 50%;
    position: absolute;
}
.big-circle::before{
    content: ".....";
    color: #fff;
    font-size: .9rem;
    color: #2e2e2e;
    font-weight: 300;
    border: 1px solid #867772;
    border-radius: 50%;
    position: absolute;
    top: 3.5px;
    left: 3.5px;
}
.big-circle{
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
}
.side-nav article a{
    position: absolute;
    left: 70px;
    text-decoration: none;
    font-size: 0.9rem;
}
.inactive{
        color: #867772;
        transition: color 1s;
}
.inactive:hover{
    color: #fff;
}
.active{
    color: #fff;
}
.line{
    position: absolute;
    top: 23px;
    left: 8px;
    width: 10px;
    height: 50px;
    border-left: 1px solid #867772;
}
.link2{
    top: 90px;
}
.link3{
    top: 180px;
}
.link4{
    top: 270px;
}
.link5{
    top: 360px;
}
#hero{
    background: #2e2e2e;
    width: 86%;
    padding: 20vh 7% 15vh;
}
h1{
    color: #ebccc2;
    font-size: 2.5rem;
    font-weight: 300;
}
p{
    color: rgb(115, 115, 115);
    line-height: 30px;
}
#hero h1{
    width: 35%;
    margin-left: 25%;
    line-height: 60px;
    margin-bottom: 15vh;
}
#hero img{
    width: 100%;
}
#alchemy{
    width: 70%;
    padding: 0 15% 20vh;
    background: #2e2e2e;
    display: flex;
}
#alchemy div{
    height: 60vh;
    width: 30%;
    flex-grow: 1;
}
#alchemy div:nth-of-type(1){
    background: url(../img/BS1_NYC_Home.webp) center/cover no-repeat;
}
#alchemy div:nth-of-type(2){
    padding-left: 7%;
}
#alchemy img{
    width: 100%;
}