/* Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */
html{
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
}
header{
    height: 12vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 2vh 0 0 30px;
    width: 50px;
}
nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
.social{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
header a{
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
    color: #867772;
    transition: color 1s;
}
header a:hover{
    text-decoration: underline;
    color: #fff;
}
.language{
    margin-right: 7%;
}
.side-nav{
    position: fixed;
    margin: 25vh 0 0 30px;
}
.side-nav article{
    position: relative;
}
.small-circle{
    width: 15px;
    height: 15px;
    border: 1px solid #867772;
    border-radius: 50%;
    position: absolute;
}
.big-circle::before{
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    border: 1px solid #867772;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}
.big-circle{
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
}
.side-nav article a{
    position: absolute;
    left: 70px;
    text-decoration: none;
    font-size: 0.9rem;
}
.inactive{
        color: #867772;
        transition: color 1s;
}
.inactive:hover{
    color: #fff;
}
.active{
    color: #fff;
}
.line{
    position: absolute;
    top: 23px;
    left: 8px;
    width: 10px;
    height: 50px;
    border-left: 1px solid #867772;
}
.link2{
    top: 90px;
}
.link3{
    top: 180px;
}
.link4{
    top: 270px;
}
.link5{
    top: 360px;
}
#hero{
    background: #2e2e2e;
    width: 86%;
    padding: 20vh 7% 15vh;
}
h1{
    color: #ebccc2;
    font-size: 2.2rem;
    font-weight: 300;
}
p{
    color: rgb(115, 115, 115);
    line-height: 30px;
}
#hero h1{
    width: 35%;
    margin-left: 25%;
    line-height: 60px;
    margin-bottom: 15vh;
}
#hero img{
    width: 100%;
}
#alchemy{
    width: 70%;
    padding: 0 15% 20vh;
    background: #2e2e2e;
    display: flex;
}
#alchemy div{
    height: 60vh;
    width: 30%;
    flex-grow: 1;
}
#alchemy div:nth-of-type(1){
    background: url(../img/BS1_NYC_Home.webp) center/cover no-repeat;
}
#alchemy div:nth-of-type(2){
    padding-left: 7%;
}
#alchemy img{
    width: 100%;
}
#lounger{
    height: 100vh;
    background: #2e2e2e;
    display: flex;
}
#lounger div{
    height: 100vh;
}
#lounger div:nth-of-type(1){
    background: url(../img/section-voyager.jpg) center/cover no-repeat;
    width: 55%;
}
#lounger div:nth-of-type(2){
    padding: 0 10% 0 5%;
    width: 30%;
}
#lounger h1{
    margin: 20vh 0 10vh;
}
#experience{
    height: 100vh;
    background: #2e2e2e;
    display: flex;
}
#experience div{
    height: 100vh;
}
#experience div:nth-of-type(1){
    background: url(../img/section-experience-1.jpg) center/cover no-repeat;
    width: 55%;
}
#experience div:nth-of-type(2){
    padding: 0 5% 0 5%;
    width: 35%;
}
#experience h1{
    margin: 15vh 0 10vh;
}
#inspiration-one{
    height: 100vh;
    width: 100%;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inspiration-one div{
    margin: 5vh 0 0 5%;
    width: 60%;
}
video{
    width: 100%;
}
#inspiration-two{
    background: #2e2e2e;
    padding-bottom: 15vh;
}
.craft{
    width: 50%;
    margin: 0 0 15vh 20%;
}
h2{
    margin: 0;
    font-size: 1.1rem;
    color: #ebccc2;
    font-weight: 30;
}
#inspiration-two h1{
    margin: 5px 0 30px;
}
h3{
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(115, 115, 115);
}
.border{
    border: 1px solid #fff;
    padding: 3px 8px;
    border-radius: 3px;
    margin-bottom: 0;
}
#inspiration-two article{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.small-div1, .small-div2{
    width: 40%;
    flex-grow: 1;
}
.small-div1 h2, .small-div2 h2{
    margin-top: 7vh;
}
.small-div1{
    padding-left: 2%;
}
.small-div2 p{
    padding-right: 10%;
}
.small-div2 h1{
    width: 70%;
}
.background1{
    background: url(../img/ETC_6.webp) center/cover no-repeat;
    height: 50vh;
    width: 40%;
    flex-grow: 1;
}
.background2{
    background: url(../img/ETC_5.webp) center/cover no-repeat;
    height: 50vh;
    width: 40%;
    flex-grow: 1;
    margin-left: -2%;
}
#shop{
    background: #2e2e2e;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    grid-template-rows: 7.5fr 2.5fr;
    align-items: end;
}
#shop div:nth-of-type(1){
    background: url(../img/section-composition4.jpg) center/cover no-repeat;
    height: 100%;
    width: 100%;
    grid-row: 1/-1;
}
#shop div:nth-of-type(2){
    background: url(../img/h9-argilla-bright-hero-1000x1000.webp) center/contain  no-repeat;
    height: 90%;
    width: 100%;
}
#shop div:nth-of-type(3){
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 3vh;
}
#shop div:nth-of-type(3) h1{
    font-size: 1.8rem;
    margin-bottom: 0;
}
#shop div:nth-of-type(3) p{
    font-size: 1.2rem;
}
#shop div:nth-of-type(3) a{
    text-decoration: none;
    color: #2e2e2e;
    background-color: #ebccc2;
    font-size: 0.8rem;
    border: 2px solid #ebccc2;
    border-radius: 5px;
    padding: 12px 25px;
    transition: color .5s, background-color .8s;
}
#shop div:nth-of-type(3) a:hover{
    background-color: #2e2e2e;
    color: #ebccc2;
    border: 2px solid #ebccc2;
    border-radius: 5px;
}