/* Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */
html{
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}
body{
    margin: 0;
}
header{
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 2vh 0 0 30px;
    width: 50px;
}
.normal-nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
.social{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.normal-nav a{
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
    color: #867772;
    transition: color 1s;
}
.normal-nav a:hover{
    text-decoration: underline;
    color: #fff;
}
.language{
    margin-right: 7%;
}
.hamburger{
    position: relative;
    display: none;
}
.hamburger div:not(.cancel){
    width: 25px;
    height: 3px;
    background: #867772;
    position: absolute;
    z-index: 1;
    opacity: 1;
}
.hamburger div:nth-of-type(1){
    top: -8px;
    right: 10px;
}
.hamburger div:nth-of-type(2){
    right: 10px;
    top: -2px;
}
.hamburger div:nth-of-type(3){
    right: 10px;
    top: 4px;
}
.cancel{
    position: absolute;
    margin-top: 23px;
    margin-right: 4px;
    color: #ebccc2;
    font-size: 1.5rem;
    transition: none;
    z-index: 1;
}
.hamburger input{
    width: 25px;
    height: 16px;
    position: absolute;
    top: -11px;
    right: 7px;
    z-index: 2;
    opacity: 0;
}
.hamburger .hidden-nav{
    position: absolute;
    top: -45px;
    right: -1000px;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 50vw;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: right .5s;
}
.hidden-nav li{
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
}
.hamburger .hidden-nav li a{
    color: #ebccc2;
    text-decoration: none;
    font-size: 1.5rem;
}
.hamburger input:checked~div:not(.cancel){
    display: none;
}
.hamburger input:checked~.hidden-nav{
    right: 0px;
}
.side-nav{
    position: fixed;
    margin: 25vh 0 0 30px;
}
.side-nav article{
    position: relative;
}
.small-circle{
    width: 15px;
    height: 15px;
    border: 1px solid #867772;
    border-radius: 50%;
    position: absolute;
}
.big-circle::before{
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    border: 1px solid #867772;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}
.big-circle{
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
}
.side-nav article a{
    position: absolute;
    left: 70px;
    text-decoration: none;
    font-size: 0.9rem;
}
.inactive{
        color: #867772;
        transition: color 1s;
}
.inactive:hover{
    color: #fff;
}
.active{
    color: #fff;
}
.line{
    position: absolute;
    top: 23px;
    left: 8px;
    width: 10px;
    height: 50px;
    border-left: 1px solid #867772;
}
.link2{
    top: 90px;
}
.link3{
    top: 180px;
}
.link4{
    top: 270px;
}
.link5{
    top: 360px;
}
#hero{
    background: #2e2e2e;
    width: 86%;
    padding: 20vh 7% 15vh;
}
h1{
    color: #ebccc2;
    font-size: 2.2rem;
    font-weight: 300;
}
p{
    color: rgb(115, 115, 115);
    line-height: 30px;
}
#hero h1{
    width: 35%;
    margin-left: 25%;
    line-height: 60px;
    margin-bottom: 15vh;
}
#hero img{
    width: 100%;
}
#alchemy{
    width: 70%;
    padding: 0 15% 20vh;
    background: #2e2e2e;
    display: flex;
}
#alchemy div{
    height: 60vh;
    width: 30%;
    flex-grow: 1;
}
#alchemy div:nth-of-type(1){
    background: url(../img/BS1_NYC_Home.webp) center/cover no-repeat;
}
#alchemy div:nth-of-type(2){
    padding-left: 7%;
}
#alchemy img{
    width: 100%;
}
#lounger{
    height: 100vh;
    background: #2e2e2e;
    display: flex;
}
#lounger div{
    height: 100vh;
}
#lounger div:nth-of-type(1){
    background: url(../img/section-voyager.jpg) center/cover no-repeat;
    width: 60%;
}
#lounger div:nth-of-type(2){
    padding: 0 3% 0 5%;
    width: 35%;
}
#lounger h1{
    margin: 17vh 0 8vh;
}
#experience{
    height: 100vh;
    background: #2e2e2e;
    display: flex;
}
#experience div{
    height: 100vh;
}
#experience div:nth-of-type(1){
    background: url(../img/section-experience-1.jpg) center/cover no-repeat;
    width: 60%;
}
#experience div:nth-of-type(2){
    padding: 0 5% 0 5%;
    width: 40%;
}
#experience h1{
    margin: 12vh 0 7vh;
}
#experience p{
    font-size: .92rem;
}
#inspiration-one{
    height: 100vh;
    width: 100%;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inspiration-one div{
    margin: 5vh 0 0 5%;
    width: 60%;
}
video{
    width: 100%;
}
#inspiration-two{
    background: #2e2e2e;
    padding-bottom: 10vh;
}
.craft{
    width: 50%;
    margin: 0 0 15vh 20%;
}
h2{
    margin: 0;
    font-size: 1.1rem;
    color: #ebccc2;
    font-weight: 30;
}
#inspiration-two h1{
    margin: 5px 0 30px;
}
h3{
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(115, 115, 115);
}
.border{
    border: 1px solid #fff;
    padding: 3px 8px;
    border-radius: 3px;
    margin-bottom: 0;
}
#inspiration-two article{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.small-div1, .small-div2{
    width: 40%;
    flex-grow: 1;
}
.small-div1 h2, .small-div2 h2{
    margin-top: 7vh;
}
.small-div1{
    padding-left: 2%;
}
.small-div2 p{
    padding-right: 10%;
}
.small-div2 h1{
    width: 70%;
}
.background1{
    background: url(../img/ETC_6.webp) center/cover no-repeat;
    height: 50vh;
    width: 40%;
    flex-grow: 1;
}
.background2{
    background: url(../img/ETC_5.webp) center/cover no-repeat;
    height: 50vh;
    width: 40%;
    flex-grow: 1;
    margin-left: -2%;
}
#shop{
    background: #2e2e2e;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    grid-template-rows: 7.5fr 2.5fr;
    align-items: end;
}
#shop div:nth-of-type(1){
    background: url(../img/section-composition4.jpg) center/cover no-repeat;
    height: 100%;
    width: 100%;
    grid-row: 1/-1;
}
#shop div:nth-of-type(2){
    background: url(../img/h9-argilla-bright-hero-1000x1000.webp) center/contain  no-repeat;
    height: 90%;
    width: 100%;
}
#shop div:nth-of-type(3){
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 3vh;
}
#shop div:nth-of-type(3) h1{
    font-size: 1.8rem;
    margin-bottom: 0;
}
#shop div:nth-of-type(3) p{
    font-size: 1.2rem;
}
#shop div:nth-of-type(3) a{
    text-decoration: none;
    color: #2e2e2e;
    background-color: #ebccc2;
    font-size: 0.8rem;
    border: 2px solid #ebccc2;
    border-radius: 5px;
    padding: 12px 25px;
    transition: color .5s, background-color .8s;
}
#shop div:nth-of-type(3) a:hover{
    background-color: #2e2e2e;
    color: #ebccc2;
    border: 2px solid #ebccc2;
    border-radius: 5px;
}
/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {
    .side-nav article a {
        left: 30px;
    }
    .normal-nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    #hero h1{
        width: 55%;
    }
    #alchemy {
        width: 80%;
        padding: 0 1% 20vh 19%;
    }
    #lounger h1{
        margin: 12vh 0 8vh;
    }
    #lounger div:nth-of-type(2){
    padding: 0 1% 0 5%;
    width: 45%;
    }
    #experience div:nth-of-type(2){
        padding: 0 1% 0 5%;
        width: 45%;
    }
    #experience h1{
        margin: 7vh 0 5vh;
    }
    #experience p{
        font-size: .9rem;
    }
    #inspiration-two article{
        padding-left: 15%;
        width: 75%;
    }
    .small-div1 h2 {
        margin-top: 10px;
    }
    .small-div2 h2{
        margin-top: 20px;
    }
    .small-div1 p, .small-div2 p {
        font-size: 0.95rem;
        line-height: 25px;
    }
    #shop{
        grid-template-columns: 2.3fr 2fr;
    }
    #shop div:nth-of-type(2) {
        height: 95%;
    }
}
/* Phone */
@media (max-width: 767px) {
    html{
        font-size: 14px;
    }
    .side-nav article a {
        left: 30px;
        font-size: .75rem;
    }
    .normal-nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger .hidden-nav{
        width: 97vw;
    }
    #hero h1{
        margin-left: 30%;
        width: 70%;
    }
    #alchemy{
        width: 55%;
        display: block;
        padding: 0 10% 60vh 35%;
    }
    #alchemy div{
        width: 100%;
    }
    #lounger{
        display: block;
        height: 300vh;
    }
    #lounger div:nth-of-type(1){
        width: 100%;
    }
    #lounger div:nth-of-type(2){
        padding: 0 3% 0 45%;
        width: 52%;
    }
    #experience{
        display: block;
        height: 300vh;
    }
    #experience div:nth-of-type(1){
        width: 100%;
    }
    #experience div:nth-of-type(2){
        padding: 0 3% 0 45%;
        width: 52%;
    }
    #inspiration-one{
        height: 50vh;
    }
    #inspiration-two{
        height: 300vh;
    }
    .craft{
        width: 60%;
        margin: 0 0 0 40%;
    }
    #inspiration-two article{
        width: 60%;
        margin: 0 0 0 40%;
        display: block;
    }
    .small-div1, .small-div2{
        width: 95%;
    }
    .small-div1{
        padding-left: 0;
        padding-right: 5%;
    }
    .small-div2 p{
        padding-right: 5%;
    }
    .background1{
        height: 40vh;
        width: 95%;
    }
    .background2{
        height: 40vh;
        width: 95%;
    }
    #shop{
        display: block;
        height: 150vh;
    }
    #shop div:nth-of-type(1){
        height: 70vh;
    }
    #shop div:nth-of-type(2){
        height: 30vh;
        width: 70%;
        margin-left: 30%;
    }
    #shop div:nth-of-type(3){
        width: 70%;
        margin-left: 30%;
        height: 30vh;
    }